    Predicting students overall grade

In [34]:
import pandas as pd

In [35]:
grade_path = r'C:\Users\HP\ML PARCTICE\student-por.csv'

In [36]:
grade_data = pd.read_csv(grade_path, sep=";")
grade_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [37]:
grade_data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

In [38]:
grade_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [39]:
grade_data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [40]:
features= ['failures', 'studytime', 'absences', 'G1', 'G2', 'G3']

In [41]:
X = grade_data[features]

In [42]:
X.head()

   failures  studytime  absences  G1  G2  G3
0         0          2         4   0  11  11
1         0          2         2   9  11  11
2         0          2         6  12  13  12
3         0          3         0  14  14  14
4         0          2         0  11  13  13

In [43]:
y = grade_data.G3

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size = 0.1, random_state = 1)

In [46]:
from sklearn.tree import DecisionTreeRegressor

In [47]:
grade_model = DecisionTreeRegressor(random_state = 1)

In [48]:
grade_model.fit(train_X,train_y)

DecisionTreeRegressor(random_state=1)

In [49]:
predictions = grade_model.predict(test_X)

In [50]:
print (predictions)

[ 0. 11.  8.  8. 11. 11. 15. 13. 16. 14.  9. 10.  9. 14. 16. 12. 10.  9.
 12. 11. 16.  0. 10. 10. 11.  9. 13. 12. 14. 11. 10. 13. 10.  0. 10. 11.
 14. 15. 18. 15. 16. 11. 14. 13. 12. 17. 14. 18. 10. 17. 10. 18. 11. 16.
 18. 11.  9. 10. 15. 14.  9.  8. 17.  9. 18.]

In [51]:
from sklearn.metrics import mean_absolute_error

In [52]:
mae = mean_absolute_error(test_y, predictions)

In [53]:
print(mae)

0.0

predicting using linear regression

In [55]:
from sklearn import linear_model
from sklearn.utils import shuffle
import numpy as np

In [56]:
 nlinear = linear_model.LinearRegression()

In [58]:
linear.fit(train_X, train_y)

LinearRegression()

In [59]:
accuracy = linear.score (test_X, test_y)

In [60]:
print(accuracy)

1.0

In [61]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [-8.60742025e-16 -5.29626692e-17 -2.33547857e-16  3.50448394e-16
 -8.99923232e-16  1.00000000e+00]
Intercept:
 8.881784197001252e-15

In [80]:
predictions = linear.predict(test_X)

In [72]:
print(preds)

[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]

In [81]:
for i in range (len(preds)):
    print (preds, test_X, test_y)

[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00

 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01

Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64
[1.12289976e-14 1.10000000e+01 8.00000000e+00 8.00000000e+00
 1.10000000e+01 1.10000000e+01 1.50000000e+01 1.30000000e+01
 1.60000000e+01 1.40000000e+01 9.00000000e+00 1.00000000e+01
 9.00000000e+00 1.40000000e+01 1.60000000e+01 1.20000000e+01
 1.00000000e+01 9.00000000e+00 1.20000000e+01 1.10000000e+01
 1.60000000e+01 1.04212183e-14 1.00000000e+01 1.00000000e+01
 1.10000000e+01 9.00000000e+00 1.30000000e+01 1.20000000e+01
 1.40000000e+01 1.10000000e+01 1.00000000e+01 1.30000000e+01
 1.00000000e+01 5.27998339e-15 1.00000000e+01 1.10000000e+01
 1.40000000e+01 1.50000000e+01 1.80000000e+01 1.50000000e+01
 1.60000000e+01 1.10000000e+01 1.40000000e+01 1.30000000e+01
 1.20000000e+01 1.70000000e+01 1.40000000e+01 1.80000000e+01
 1.00000000e+01 1.70000000e+01 1.00000000e+01 1.80000000e+01
 1.10000000e+01 1.60000000e+01 1.80000000e+01 1.10000000e+01
 9.00000000e+00 1.00000000e+01 1.50000000e+01 1.40000000e+01
 9.00000000e+00 8.00000000e+00 1.70000000e+01 9.00000000e+00
 1.80000000e+01]      failures  studytime  absences  G1  G2  G3
440         0          2         0   7   0   0
242         0          2         2   9  10  11
465         1          2         9   9   8   8
347         0          3         0   7   7   8
474         0          1         2  10  11  11
..        ...        ...       ...  ..  ..  ..
565         0          1         0  10  10   9
545         1          2         8   8   9   8
359         0          3         2  15  15  17
568         3          1         4   6  11   9
181         0          2         0  17  17  18

[65 rows x 6 columns] 440     0
242    11
465     8
347     8
474    11
       ..
565     9
545     8
359    17
568     9
181    18
Name: G3, Length: 65, dtype: int64

In [1]:
import matplotlib.pyplot as plt

In [2]:
from matplotlib import style
import pickle

In [3]:
with open("studentgrades.pickle", "wb") as f:
    pickle.dump(linear, f)

NameError: name 'linear' is not defined